<section class="d-flex flex-column justify-content-between my-5">
  <h1 class="text-uppercase text-center text-prime mb-5">articles</h1>
  <div class="row">
    <div class="col-9 mx-auto my-3">
      <app-article-card
        *ngFor="let article of articles"
        [article]="article"
        class=""
      ></app-article-card>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <mat-paginator
        [length]="articles.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</section>
