<aside>
  <!--!  add button -->
  <button
    routerLink="/articles/add"
    mat-raised-button
    color="primary"
    class="mr-3"
  >
    <i class="material-icons">add</i>
    New Article
  </button>
  <!--! archive -->
  <button mat-raised-button [matMenuTriggerFor]="menuYears" color="accent">
    <i class="material-icons">archive</i>
    Archive
  </button>
  <mat-menu #menuYears="matMenu">
    <button
      *ngFor="let year of years"
      mat-menu-item
      [matMenuTriggerFor]="menuMonths"
    >
      {{ year }}
    </button>
  </mat-menu>

  <mat-menu #menuMonths="matMenu">
    <button *ngFor="let month of months" mat-menu-item>{{ month }}</button>
  </mat-menu>
</aside>
